/* Grays */
$gray-deepest: #151515;
$gray-deep: #222222;
$gray-medium: #353535;
$gray-med-light: #3f3f3f;
$gray-light: #4a4a4a;
$gray-border: rgba(93, 93, 93, 0.05);
$gray-border-hi: rgba(113, 113, 113, 0.35);

/* Golds */
$gold-accent: #ffff5a;
$gold-dim-accent: #bcbc4f;
$gold-border: rgba(203, 203, 84, 0.05);
$gold-border-hi: rgba(235, 255, 59, 0.35);

/* Texts */
$text-primary: #fffbe5;
$text-dimmed: #b5b3a8;
$text-muted: #818181;

/* Misc */
$error-color: #d25252;
$success-color: #77cd53;
