@use './fonts';

// DO NOT TOUCH THESE TO CUSTOMIZE!!

$color-bg: #323232;
$color-accent: #3b3b3b;
$color-dark-accent: #2d2d2d;
$color-secondary: #393939;
$border-color: #4f4f4f;
$white-color: #ffffff;
$dimmed-color: #bababa;

$button-color: #4a95e4;
$button-hover: #3d7abc;
$banner-color: #5588bd;
$error-color: #ff5d5d;
$success-color: #60ff5d;

$toast-error: #df5050;
$toast-success: #52d74f;
$toast-info: #58a2e8;

$pota-color: #4ba449;
$pota-color-dimmed: #306e2f;
$normal-color: #515fa5;
$normal-color-dimmed: #333d70;
$field-day-color: #9a55bf;
$field-day-color-dimmed: #703a8d;
$settings-color: #9f9f9f;
$settings-color-dimmed: #7f7f7f;

// Use the Grays and Accent colors to customize!!

/* Grays */
$gray-deepest: #151515;
$gray-deep: #222222;
$gray-medium: #353535;
$gray-med-light: #3f3f3f;
$gray-light: #4a4a4a;
$gray-border: rgba(93, 93, 93, 0.05);
$gray-border-hi: rgba(113, 113, 113, 0.35);

/* Golds */
$gold-accent: #ffff5a;
$gold-dim-accent: #bcbc4f;
$gold-border: rgba(203, 203, 84, 0.05);
$gold-border-hi: rgba(235, 255, 59, 0.35);

/* Texts */
$text-primary: #fffbe5;
$text-dimmed: #b5b3a8;
$text-muted: #818181;

/* Misc */
$error-color: #d25252;
$success-color: #77cd53;

$button-green: #75db73;
$button-green-hover: #448e43;
$button-red: #fb3838;
$button-red-hover: #b60000;

$border-shadow: rgba(0, 0, 0, 0.15);

$navbar-height: 40px;

$font-xxs: 8px;
$font-xs: 10px;
$font-small: 12px;
$font-small-medium: 14px;
$font-medium: 16px;
$font-medium-large: 18px;
$font-large: 20px;
$font-xl: 24px;
$font-xxl: 28px;

$version: "v1.0.0";

:root {
  color-scheme: dark;
  --font-sans: "Geist", system-ui, -apple-system, sans-serif; /* Im considering changing the font to Geist, since it's more modern looking and nicer. More rounded than Monsterrat */
  font-family: var(--font-sans);
}